<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-md-12">
                <div class="single-footer-widget pr-5">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <!-- <a href="#" target="_blank" class="location">Check our shop in Google Map</a> -->
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Help</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/order-tracking">Track Your Order</a></li>
                        <li><a routerLink="/shipping">Product Guides</a></li>
                        <li><a routerLink="/wishlist">Wishlists</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/contact">Store Locator</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Company</h3>
                    <ul class="custom-links">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                        <li><a routerLink="/contact">Location Us</a></li>
                        <li><a routerLink="/contact">Careers</a></li>
                        <li><a routerLink="/shop-full-width-1">Gift Cards</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>Help</h3>
                    <ul class="custom-links">
                        <li><a href="#" target="_blank">Instagram</a></li>
                        <li><a href="#" target="_blank">Pinterest</a></li>
                        <li><a href="#" target="_blank">Facebook</a></li>
                    </ul>
                    <div class="phone">
                        <span>Phone:</span>
                        <a href="tel:+1234567898">(+123) 456-7898</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 col-sm-7">
                    <p>© Vaxim is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="payment-type">
                        <img src="assets/img/payment.png" alt="payment-type">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>