<!-- <app-navbar></app-navbar> -->

<app-homeseven-banner></app-homeseven-banner>

<app-shop-by-categories></app-shop-by-categories>

<app-best-sellers-products></app-best-sellers-products>

<app-deals-of-the-day></app-deals-of-the-day>

<app-partner></app-partner>

<div class="m-s-mins">
    <app-shop-by-categories></app-shop-by-categories>
</div>

<!-- <app-popular-products></app-popular-products> -->

<app-summer-sale></app-summer-sale>

<!-- <app-subscribe></app-subscribe> -->

<app-facility></app-facility>

<app-footer></app-footer>