<div class="border p-4 my-profile-page">
    <div class="head">
        <h3 class="font-medium">{{'change_password.title'|translate}}</h3>
        <small>{{'change_password.desc'|translate}}</small>
    </div>
    <form [formGroup]="changePasswordForm">
        <div class="alert alert-danger" role="alert" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div class="form-group">

            <label>{{'change_password.form.labels.old_password'|translate}} :</label>
            <div class="position-relative">
                <div class="eye_icon">
                    <i class="fa-regular fa-eye" [ngClass]="{
                    'fa-eye-slash': passwordTextType,
                    'fa-eye': !passwordTextType
                  }" (click)="togglePasswordTextType()"></i>
                </div>
                <input [type]="passwordTextType ? 'text' : 'password'" formControlName="oldPassword" name="oldPassword"
                    title="control" class="form-control" autofocus
                    [ngClass]="{
                        'is-invalid':
                          (submitted && profileInfoFormControls.oldPassword.errors) ||
                          (profileInfoFormControls.oldPassword.touched && profileInfoFormControls.oldPassword.invalid)}">
                <div class="input_icon">
                    <i class="fa-solid fa-user-lock"></i>
                </div>
                <div *ngIf="(submitted && profileInfoFormControls.oldPassword.errors) ||
            (profileInfoFormControls.oldPassword.touched && profileInfoFormControls.oldPassword.invalid)"
                    class="invalid-feedback">
                    <div *ngIf="profileInfoFormControls.oldPassword.errors?.required">
                        {{"change_password.form.messages.old_password_required"|translate}}

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <label>{{'change_password.form.labels.new_password'|translate}} :</label>
            <div class="position-relative">
                <div class="eye_icon">
                    <i class="fa-regular fa-eye" [ngClass]="{
                    'fa-eye-slash': new_passwordTextType,
                    'fa-eye': !new_passwordTextType
                  }" (click)="toggleNewPasswordTextType()"></i>
                </div>
                <input type="password" [type]="new_passwordTextType ? 'text' : 'password'" [ngClass]="{
                'is-invalid':
                  (submitted && profileInfoFormControls.newPassword.errors) ||
                  (profileInfoFormControls.newPassword.touched && profileInfoFormControls.newPassword.invalid)}"
                    formControlName="newPassword" name="newPassword" title="control" class="form-control" autofocus>
                <div class="input_icon">
                    <i class="fa-solid fa-user-lock"></i>
                </div>
                <div *ngIf="(submitted && profileInfoFormControls.newPassword.errors) ||
            (profileInfoFormControls.newPassword.touched && profileInfoFormControls.newPassword.invalid)"
                    class="invalid-feedback">
                    <div *ngIf="profileInfoFormControls.newPassword.errors?.pattern">
                        {{"change_password.form.messages.pattern_password"|translate}}
                        <br />
                        <span> {{"change_password.form.messages.Expattern_password"|translate}} </span>
                    </div>
                    <div *ngIf="profileInfoFormControls.newPassword.errors?.required">
                        {{"change_password.form.messages.new_password_required"|translate}}

                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{'change_password.form.labels.confirm_new_password'|translate}} :</label>
            <div class="position-relative">
                <div class="eye_icon">
                    <i class="fa-regular fa-eye" [ngClass]="{
                    'fa-eye-slash': confirm_new_passwordTextType,
                    'fa-eye': !confirm_new_passwordTextType
                  }" (click)="toggleConfirmNewPasswordTextType()"></i>
                </div>
                <input [ngClass]="{
                'is-invalid':
                  (submitted && profileInfoFormControls.confirmNewPassword.errors) ||
                  (profileInfoFormControls.confirmNewPassword.touched && profileInfoFormControls.confirmNewPassword.invalid) || !confirmPassword
            }" [type]="confirm_new_passwordTextType ? 'text' : 'password'" (keyup)="checkConfirmPassword()"
                    formControlName="confirmNewPassword" name="confirmNewPassword" title="control" class="form-control"
                    autofocus>
                <div class="input_icon">
                    <i class="fa-solid fa-user-lock"></i>
                </div>
                <div *ngIf="(submitted && profileInfoFormControls.confirmNewPassword.errors) ||
                (profileInfoFormControls.confirmNewPassword.touched && profileInfoFormControls.confirmNewPassword.invalid) ||!confirmPassword"
                    class="invalid-feedback">
                    <span *ngIf="!confirmPassword">{{'change_password.form.messages.confirm_password'|translate}}</span>
                    <div *ngIf="profileInfoFormControls.confirmNewPassword.errors?.required">
                        {{"change_password.form.messages.confirm_new_password_requires"|translate}}

                    </div>
                </div>
            </div>

        </div>
        <button type="submit" class="save_btn" [disabled]="loading || changePasswordForm.invalid || !confirmPassword" tabindex="4" rippleEffect
            (click)="changePassword()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{'save'|translate}}


        </button>

    </form>
</div>