<div class="retail-banner-area">
    <div class="container-fluid">
        <div class="retail-home-slides">
            <owl-carousel-o [options]="retailHomeSlides">
                <ng-template carouselSlide>
                    <div>
                        
                        <img src="assets/img/home-six/banner/banner-bg1.jpg" alt="">
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div>
                        <img src="assets/img/home-six/banner/banner-bg2.jpg" alt="">
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div>
                        <img src="assets/img/home-six/banner/banner-bg3.jpg" alt="">
                    </div>

                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>