
    h3 {
       font-size: 18px;
    }

    .item {
       background-color: #fafafa;
       padding: 16px;
       font-size: 14px;
       border: 1px solid #f3f3f3;

       span {
          color: #777;
          min-width: 48px;
       }

       p {
          color: #000;
          margin-bottom: 0;

       }

       small {
          padding-inline-start: 10px;
          display: block;
       }
    }


 .primary_address {
    background: #e7f4ff78 !important;
    border: 1px solid #d5eafb !important;
 }


 .title_b {
    position: absolute;
    bottom: 12px;
    inset-inline-end: 18px;

    .edit {
       color: #4F008C;
       font-size: 14px;
       text-decoration: underline;

       &:hover {
          opacity: 0.6;
       }
    }

    .delete {
       color: #FF375E;
       font-size: 14px;
       text-decoration: underline;

       &:hover {
          opacity: 0.6;
       }
    }
 }

 .add_btn {
    button {
       margin-left: 0;
       min-width: auto;
       max-width: max-content;
       margin-bottom: 26px;
       background: #37b169;
       transition: var(--transition);
       color: #fff;
    }
 }

 input[type="radio"] {
    width: 24px;
    height: 24px;
 }


 @media only screen and (max-width: 767px) {
  
.title_b {
      bottom: 2px !important;
   }

   input[type="radio"] {
      width: 18px;
      height: 18px;
   }
}