<div class="categories_m ">
    <div class="container p-3">
        <div class="row">
            <div class="col-4 p-1">
                <a href="#">
                    <img
                        src="assets/img/home-six/popular/popular2.jpg"
                        alt=""
                    />
                    <h2>Trendy woman black blazer</h2>
                </a>
            </div>
            <div class="col-4 p-1">
              <a href="#">
                  <img
                      src="assets/img/home-seven/products/products2.jpg"
                      alt=""
                  />
                  <h2>Trendy woman black blazer</h2>
              </a>
          </div>
          <div class="col-4 p-1">
            <a href="#">
                <img
                    src="assets/img/home-seven/products/products3.jpg"
                    alt=""
                />
                <h2>Trendy woman black blazer</h2>
            </a>
        </div>
        <div class="col-4 p-1">
          <a href="#">
              <img
                  src="https://res.cloudinary.com/dbbfi0kuz/image/upload/v1634792255/products2_2952ef594e.jpg"
                  alt=""
              />
              <h2>Trendy woman black blazer</h2>
          </a>
      </div>
        </div>
    </div>
</div>
