button {
    border: none;
    display: block;
    text-align: center;
    transition: var(--transition);
    border-radius: 5px;
    padding: 14px 30px;

    font: {
        weight: 700;
        size: var(--fontSize);
    }

    &:hover {
        background-color: var(--blackColor) !important;
        color: var(--whiteColor);
    }
}

.order_nav {
    background-color: #fafafa;
    min-height: 500px;
    border: 1px solid #eee;
    color: #333;
    margin-top: -1px;

    .hello {
        border-bottom: 1px solid #eee;
        text-align: start;
        background-color: #fafafa;

        h1 {
            color: #333;
            font-size: 16px;

            span {
                font-weight: normal;
                color: #333;
            }
        }

        span {
            color: #706c6c;
            font-size: 14px;
        }
    }

    .list {
        ul {
            padding: 0;

            li {
                list-style: none;
                padding: 16px 20px;
                border-bottom: 1px solid #eee;
                position: relative;
                transition: all 0.4s ease-in-out;
                background-color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: #fafafa;
                    transition: all 0.4s ease-in;

                    &::before {
                        border-color: red;
                        transition: all 0.5s ease-out;
                        top: 0;
                        height: 100%;
                    }
                }

                a {
                    color: #000;
                    display: block;
                    line-height: 2;
                    text-transform: capitalize;
                    font-size: 14px;

                    i {
                        color: #818181;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    transition: all 0.5s ease-in;
                    top: 13px;
                    left: -1px;
                    border-left: 2px solid #777;
                    height: 60%;
                }
            }

            .active {
                background-color: #fafafa;

                a {
                    font-weight: 600;

                    i {
                        color: #000;
                    }
                }

                &::before {
                    border-color: red;
                    transition: all 0.5s ease-out;
                    top: 0;
                    height: 100%;
                }
            }
        }
    }
}

.content_order {
    min-height: 500px;
}

@media only screen and (min-width: 375px) and (max-width: 991px) {
    .order_nav_d{
        margin-bottom: 30px;
    }
}