button {
    border: none;
    display: block;
    text-align: center;
    transition: var(--transition);
    border-radius: 5px;
    padding: 14px 30px;

    font: {
        weight: 700;
        size: var(--fontSize);
    }

    &:hover {
        background-color: var(--blackColor) !important;
        color: var(--whiteColor);
    }
}

.form-group {
    margin-bottom: 20px;
    width: 50%;

    label {
        font-size: 14px;
        margin-bottom: 4px;
    }

    input,
    select {
        border-radius: 0;
        background-color: #fafafa;
        padding-inline-start: 50px;
        appearance: auto !important;
    }

    select {
        padding-inline-start: 15px;
    }

    .input_icon {
        position: absolute;
        bottom: 13px;
        left: 0px;
        border-right: 1px solid #cdcdcd;
        padding-right: 0;
        width: 40px;
        text-align: center;
    }
}

.head {
    margin-bottom: 20px;

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    small {
        color: #777;
    }
}

.save_btn {
    margin-top: 20px;
    color: var(--whiteColor);
    background-color: var(--mainColor);
    max-width: 150px;
    margin-inline-start: auto;
}

.defualt-address {
    margin-bottom: 0;

    .form-check {
        margin-bottom: 0;
        color: var(--blackColor);

        .form-check-input {
            margin-top: .15em;
            box-shadow: unset !important;

            &[type=checkbox] {
                border-radius: 0;
            }

            &:checked {
                background-color: var(--mainColor);
                border-color: var(--mainColor);
            }

            &:focus {
                border-color: var(--mainColor);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .add_address_form .form-group{
        width: 100% !important;
    }
}
@media only screen and (min-width: 375px) and (max-width: 991px) {
    .mobile_nav_order {
        display: block;
    }

    .listOfAddress {
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .form-group {
        width: 100% !important;
    }

    .mob_t {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .mb_m {
        margin-bottom: 8px;
    }
}
