<div class="electronic-products-area pb-70">
    <div class="container">
        <div class="section-heading-title">
            <h2>Best Sellers</h2>
        </div>
        <div class="row">
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products1.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">Hot</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Music Boom Box</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$199.00</span>
                            <span class="old-price">$245.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products2.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Laser Home Printer</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$145.00</span>
                            <span class="old-price">$230.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products3.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="new">New</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Large Speakers Amplifier</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$85.00</span>
                            <span class="old-price">$97.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Digital Camera</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$89.00</span>
                            <span class="old-price">$99.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Digital Camera</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$89.00</span>
                            <span class="old-price">$99.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Digital Camera</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$89.00</span>
                            <span class="old-price">$99.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Digital Camera</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$89.00</span>
                            <span class="old-price">$99.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="electronic-products-card">
                    <div class="electronic-image">
                        <a routerLink="/sandbox/products-details">
                            <img src="assets/img/home-seven/products/products4.jpg" alt="image">
                        </a>
                        <ul class="products-action-list">
                            <li>
                                <a routerLink="/sandbox/products-details">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/sandbox/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="sale">Sale</div>
                    </div>
                    <div class="electronic-content">
                        <b>Gadgets</b>
                        <h3>
                            <a routerLink="/sandbox/products-details">Digital Camera</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">$89.00</span>
                            <span class="old-price">$99.00</span>
                        </div>
                        <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>